.container {
  text-align: center;
}

#space {
  height: 200 px;
  max-height: 25%;
}

#cache_only {
  font-size: 30 em;
}

#url_container {
  display: none;
}

#cache_out, #url_text_field {
	color: black;
}