<<<<<<< HEAD
<button><a href="<%= @upload.filepath.url %>" download>Download</a></button>



=======
<h3><%= @upload.filepath.name %></h3>
<input type="text" value="TODO-HEROKU-URL/<%=@upload.filepath.url%>">
>>>>>>> 78ce46cf3d64d22067324055424f29aa61d13286
