<% if @upload %>
<button id = "download_button"><a href="<%= @upload.filepath.url %>" download>Download</a></button>
<div class = "success"></div>
<% else %>
<h3>Your file has evaporated.</h3>
<% end %>

