<form name="upload_form" action="/upload" method="POST" enctype="multipart/form-data">
  <input type="file" name="filepath" require="" multiple="multiple" autofocus="" value="Upload File">
  <button type="submit">Upload</button>
</form>
