<h1>Registration</h1>

<div class='jumbotron'>
  <% if @error %>
    <p class="alert alert-danger"><%= @error %></p>
  <% end %>
  <form action='/users' method='post' class='login-register'>
    <input class='form-control' type='text' name='username' placeholder='username' value="<%= @user.username %>">
    <input class='form-control' type='password' name='password' placeholder='password'>
    <input class='form-control' type='password' name='password_conf' placeholder='confirm password'>
    <input class='btn btn-primary btn-lg' type='submit' value='register'>
  </form>
</div>

